[Unit]
Description=Start Laravel Presentation App (no Docker)
After=network.target nginx.service php-fpm.service
Requires=nginx.service php-fpm.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
