[Unit]
Description=Enable wlan0 before hostapd
Before=hostapd.service
After=network.target

[Service]
Type=oneshot
ExecStart=/home/carux/presenation-app/setup.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
