[Unit]
Description=Unblock Wi-Fi before networking
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/sbin/rfkill unblock wifi && /usr/sbin/rfkill unblock all"

[Install]
WantedBy=multi-user.target
