[Unit]
Description=Unblock Wi-Fi after wlan0 is ready
After=sys-subsystem-net-devices-wlan0.device
Before=hostapd.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/rfkill unblock wifi
ExecStartPost=/usr/sbin/rfkill unblock all
ConditionPathExists=/sys/class/net/wlan0

[Install]
WantedBy=multi-user.target
